/*
MAIN VARIABLES FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== VARIABLES ==========
 */

/*
Primary Color
 */

$primary: #66D6A7;
$primary-hover: #46A87F;

/*
Gray Tone
 */

$gray: #666;
$gray-dark: #333;
$gray-light: #999;

